.main-page {
    padding: 115px 5%;
    text-align: center;
    background: url('/images/main_background.webp'); 
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;  
    background-attachment: fixed;
    color: white;
    &__player-name, &__pick-house {
        margin-top: unset;
        text-shadow: 4px 10px 8px rgba(0, 0, 0, 1);
    }
    &__name-input {
        padding: 12px;
        width: 80%;
        border-radius: 8px;
        border: 1px solid #7F0909;
        background-color: #ADADADB2;
        color: black;
        font-size: 24px;
        margin-bottom: 50px;
        &::placeholder {
            color: rgb(0, 0, 0, 0.5);
        }
    }
    &__houses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        &__logo {
            width: 150px;
            height: 200px;
            object-fit: cover;
            padding: 10px;
            &--hufflepuff {
                width: 126px;
                height: 195px;
            }
        }
    }
}