* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Aclonica', sans-serif;
}

@font-face {
    font-family: 'Aclonica';
    src: url('./assets/fonts/Aclonica.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  